*/out
*/simfab_traces
*/sim.log
*/sim_filtered.log
*/wio_flows_tmpdir.*
.history
debug
*.pyc
*/wio_flow.json
*/sim_stats.json
*/simconfig.json
*/python.log
*/error_heatmap.png
*/out_wse2
*/out_wse3
all.txt
merge_files.py